@use '../variables/screen';

.card {
    &__box {

        @include screen.for-mobile {
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__img {
        object-fit: cover;
        object-position: right top;
        width: 25rem;
        height: 17rem;
        margin-bottom: 0.5rem;

        @include screen.for-mobile {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        &--tenis {
            object-position: 50% 60%;
        }

        &--lower {
            object-position: 50% 95%;
        }
    }
}