@use '../variables/colors';

.chamada {
    
    padding-top: 10rem;
    padding-bottom: 10rem;

    &__texto {
        color: white;
        font-family: BrandonBlack;
        font-weight: bold;
        font-size: 5rem;
        

        &--destaque {
            color: colors.$laranja;
        }
    }

    &__img {
        margin: 0 0;
        width: 100%;

    }

    
}