@use '../abstracts/colors';
@use '../abstracts/screen';

.como-participar {
    color: colors.$branco;

    &__descricao {
        @include screen.for-mobile {
            padding-left: 2rem !important;
        }
    }
    
    &__img {
        width: 500px;
        height: 400px;
        object-fit: cover;

        @include screen.for-mobile {
            width: 100%;
            margin-right: 0 !important;
            margin-left: 0 !important;
            margin-bottom: 3rem;
        }
    }
}