@use '../abstracts/colors';
@use '../abstracts/fonts';
@use '../abstracts/screen';

.nav {
    @include screen.for-mobile {
        padding: 0 2rem !important;
    }

    padding: 0.2rem 10rem !important;
    background-color: colors.$pretoClaro;

    &__link {
        color: colors.$branco !important;
        font-family: BrandonLight;


        &:hover {
            color: colors.$brancoHover !important;
        }
    }

    &__lista {
        &--redes-sociais {
            @include screen.for-mobile {
                
                flex-direction: row !important;
            }
        }
    }

    &__item {
        @include screen.for-mobile {
            margin-right: 1.5rem !important;
        }
    }
    
    &__logo {
        height: 60px; 
    }
}