@use '../abstracts/screen';

.premio {

    @include screen.for-mobile {
        align-items: center !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 2.5rem !important;
    }

    

    
}